<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CIA Agents</title>
  <script type="text/javascript" src="/public/js/getprotectedresource.js"></script>
</head>
<body>
<h1>CIA Agent Secret</h1>
{% if login %}
  you logged in as <b>{{ name }}</b> <br>
  <img src='http://localhost:3001/avatar/{{ avatar }}'><br><br>
  <b><a href="javascript:getListCIAagent()">List of CIA agents</a></b>
  <ul id="agents">
  </ul>
  <b><a href="javascript:getBankAccount()">Password of top billionares in the
      world</a></b> (Call to other micro-service)<br><br>
  <ul id="bank">
  </ul>
  <button onclick="window.location.href ='/logout'">Logout</button>
{% else %}
  <b>Login to get list of CIA agents</b>
  <form method="POST" action="/">
    <label for="name">Name: </label><input type="text" name="name" id="name"><br/>
    <label for="name">Password: </label><input type="text" name="password" id="password">
    <input type="submit" value="Login">
  </form>
  <div>
    <br><br><i>Hint: using following name and password: <br>
      admin/admin<br>
      test/test<br>
      minh/minh<br></i>
  </div>
{% endif %}

{% if token %}
  <script>
    sessionStorage.token = '{{ token }}';
  </script>
{% endif %}

<script>
  function getListCIAagent() {

    postRequest('/secret', {}, function (status, response) {

      var ul = document.getElementById("agents");
      ul.innerHTML = '';

      if (status == 200) {
        for (var i = 0; i < response.length; i++) {
          var li = document.createElement("li");
          li.appendChild(document.createTextNode(response[i].name));
          ul.appendChild(li);
        }
      }

    });
  }

  function getBankAccount() {

    getRequest('http://localhost:3002/bank', function (status, response) {
      var ul = document.getElementById("bank");
      ul.innerHTML = '';
      if (status == 200) {

        for (var i = 0; i < response.length; i++) {
          var li = document.createElement("li");
          li.appendChild(document.createTextNode(`${response[i].name} - ${response[i].balance}`));
          ul.appendChild(li);
        }
      }

    });
  }
</script>
</body>
</html>